
<!DOCTYPE html>
<head>
<title>Blog</title>
<link href="/normalize.css" rel="stylesheet">
<style>

header {
text-align: center;
background-size: cover;
color: rgb(000);
background background-repeat: no-repeat;


}
body {
text-align: center;
color: rgb(000);
font-family: Berlin Sans FB;
font-size: 20px;
color: #FF6600;
margin-right: 10%;
margin-left: 10%;
}
a{
color: black;
font-size: 20px;
font-family: Berlin Sans FB;


}
h1 {
font-size: 70px;

}

img{
margin: 40px 0px 0px 0px;
border: 7px solid black;
border-radius: 20px;

}

li {
display:inline;
padding: 0px 10px 0px 10px;
}

ul {
padding:15px;

background: white;
}
li {
display:inline;
padding: 30px;
}
h1{
  text-align: center;
color: solid orange;
font-family: Times;
font-size: 50px;

}

p{
  font-size: 30px;
  text-align:center;
  font-family: Arial black;
}
</style>
</head>
<body>
<header>
<img src = "https://scontent-lhr.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/p173x172/11006380_439477249537648_3831387245294219827_n.png?oh=238ba33880e70cddfdb0bba08cf7723c&oe=558522F5" align="center">
<ul>
<li><a href="#">Our Projects</a></li>
<a href="<%= url_for controller: 'welcome', action: 'members' %>" style=" position:relative; top:-0.5px;left:-12px; right:50px; width:100px; height:25px;font-size:15pt; color:black;" >Our Members</a>
<li><a href="blog.html">Blog</a></li>
</ul>

</header>
<article>
<div1>
<center> <h1>Posts</h1>

<%= link_to 'New article', new_article_path %>

<table style="width:80%">
  <tr>
    <th>Title</th>
<th>Text</th>

    <th colspan="3"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Post comment', article_path(article) %></td>
      
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      
      <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure you want to delete?' } %></td>
    </tr>
  <% end %>
</table>
</center>
</div1>
</p>

 <p> Follow us </p>
<header>
<a href ="https://twitter.com/TheCode_Factory" > <img src ="https://cdn2.iconfinder.com/data/icons/metro-ui-icon-set/512/Twitter_alt_4.png" width="90" height="70" >
  <a href = "https://www.youtube.com/channel/UCn-CLnROwqKw-i8AQD1hdlg" > <img src ="http://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Youtube_icon.svg/256px-Youtube_icon.svg.png" width="90" height="70" >
  <a href = "https://plus.google.com/b/107105246190532748347/107105246190532748347/posts" > <img src = "http://icons.iconarchive.com/icons/uiconstock/socialmedia/512/Google-Plus-icon.png"width="90" height="70" >
  <a href = "https://www.facebook.com/codefactorycode" > <img src ="http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png" width ="90" height= "70" >
</article>

</body>